body {
  background-color: #99badd;
  padding: 20px;
  margin: 0;
  text-align: center;
}

h1, h2, p, ul, li {
  font-family: sans-serif;
}

ul.keys li {
  color: #FFF;
  font-weight: bold;
  display: inline;
  text-decoration: none;
  padding:50px;
  font-size: 200%;

}

button.A, button.S, button.D, button.F, button.J, button.K, button.L, button.colon{
  background-color: antiquewhite;
  padding: 10px 20px;
  text-align: center;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 10px;
  box-shadow: 0 5px rgb(219, 186, 186);
  font-weight: bold;
  font-family: monospace;
  font-size: xx-large;
  width: 75px;
  height: 75px;
}

/*change color of the buttons when hovered over*/
button.A:hover, button.S:hover, button.D:hover, button.F:hover, button.J:hover, button.K:hover, button.L:hover, button.colon:hover{
  background-color: rgb(236, 210, 175);
}

/*creates animation of buttons being pressed*/
button.A:active, button.S:active, button.D:active, button.F:active, button.J:active, button.K:active, button.L:active, button.colon:active{
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  background-color: lavenderblush;
}

.buttons{
  display:flex;
  justify-content: space-evenly;
  margin-top: 15%;
}


